.view-id-ca_directory_list .col-1, .view-id-ca_directory_list .col-2, .view-id-ca_directory_list .col-3 {
  width: 33.33%;
}

.view-id-ca_directory_list .views-field-title {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.view-id-ca_directory_list .views-field-field-ca-directory-owner {
  font-weight: bold;
  font-size: 14px;
}

.views-field-field-ca-directory-image {
  float: left;
  padding-right: 10px;
  clear: left;
  margin-top: 5px;
}

.pane-node-field-ca-directory-owner {
  clear: left;
}

.field-name-field-ca-directory-category {
  font-style: italic;
}

.views-field-field-ca-directory-category {
  font-style: italic;
}

.views-label-field-ca-directory-address, .views-label-field-ca-directory-phone, .views-label-field-ca-directory-fax, .views-label-field-ca-directory-email {
  float: left;
  padding-right: 5px;
}

.node-type-directory .field-name-field-ca-directory-categories .field-item {margin-right: 5px;}

.ca-directory-list td,
.ca-directory-list-term td {vertical-align: top;}
